@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
    font-family: 'Montserrat', sans-serif;
}
strong {
    font-weight: 700;
}
@font-face {
    font-family: myFont;
    src: url('Batter-Up.ttf') format('truetype');
}

#startingPoint {
    /*height: 50vh;*/
    color: #ffffff;
    text-shadow: 1px 1px rgba(0,0,0,.8);
    padding-bottom: 20px;
    background : -webkit-radial-gradient(center center,ellipse cover, rgb(214, 15, 95) 00%, rgb(219, 31, 69) 100%);
    background : -moz-linear-gradient(center center,ellipse cover, rgb(214, 15, 95) 00%, rgb(219, 31, 69) 100%);
    background : -o-linear-gradient(center center,ellipse cover, rgb(214, 15, 95) 00%, rgb(219, 31, 69) 100%);
    background : -ms-linear-gradient(center center,ellipse cover, rgb(214, 15, 95) 00%, rgb(219, 31, 69) 100%);
    background : -linear-gradient(center center,ellipse cover, rgb(214, 15, 95) 00%, rgb(219, 31, 69) 100%);
}

#startingPoint h1 {
    font-size: 80px;
    font-variant: small-caps;
    padding-top: 10px;
    font-family: myFont;
}

#startingPoint h2 {
    font-size: 60px;
    font-variant: small-caps;
    font-family: myFont;
}

#startingPoint p {
    padding-top: 20px;
}

#searchField {
    padding-top: 20px;
}

#findPlayer:hover {
    background: #000;
    color: #ffffff;
    border: #000000;
}
